.frame {
  width: 100%;
  height: 500%;
}
/* .pdf-download {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 10;
} */

.pdf-download {
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 10;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.pdf-download:hover {
  border-color: #b1b1b1;
}
.pdf-download:focus,
.pdf-download:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
