.imgclick {
  width: 1500px;
  height: 750px;
  object-fit: cover;
  overflow: hidden;

  animation-name: shrink-image;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.imgclick:hover {
  animation-name: expand-image;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes expand-image {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes shrink-image {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}
