.footer {
  margin-top: 1%;

  font-size: medium;
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  justify-content: center;
  justify-items: center;
}
.footer-logo {
  color: blue;
  width: 100px;
  height: 100px;
}
