.project-text {
  text-align: left;
  font-size: medium;
  font-weight: normal;
  text-indent: 50px;
  line-height: 2;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc;
}
